.hero{
    background-image: "url('https://unsplash.com/photos/person-writing-on-brown-wooden-table-near-white-ceramic-mug-s9CC2SKySJM')";
    background-size: 'cover';
    background-position: 'center';
    background-repeat: 'no-repeat';
  };
